---
title: Notre méthodologie
number: 4
slug: methode
---
<div class="media-row">
  <div class="media-object">
    <div class="media-object-section image-section">
      <div class="icons">{% include icons/mail.svg %}</div>
    </div>
    <div class="media-object-section main-section">
      <h4>Premier contact</h4>
      <p>Nous recevons votre demande et affectons un chargé d’affaires au projet afin de définir ensemble vos attentes et objectifs.</p>
    </div>
  </div>
</div>
<div class="media-row">
  <div class="media-object">
    <div class="media-object-section image-section">
      <div class="icons">{% include icons/contrats.svg %}</div>
    </div>
    <div class="media-object-section main-section">
      <h4>Proposition sur mesure</h4>
      <p>Nous vous proposons une solution technologique conforme à vos besoins.</p>
    </div>
  </div>
</div>
<div class="media-row">
  <div class="media-object">
    <div class="media-object-section image-section">
      <div class="icons">{% include icons/flag.svg %}</div>
    </div>
    <div class="media-object-section main-section">
      <h4>Démarrage de la mission</h4>
      <p>Nous recrutons des étudiants qualifiés pour votre projet.</p>
    </div>
  </div>
</div>
<div class="media-row">
  <div class="media-object">
    <div class="media-object-section image-section">
      <div class="icons">{% include icons/flash.svg %}</div>
    </div>
    <div class="media-object-section main-section">
      <h4>Mise en œuvre</h4>
      <p>Un suivi continu est assuré durant le développement du projet.</p>
    </div>
  </div>
</div>
<div class="media-object final">
  <div class="media-object-section image-section">
    <div class="icons">{% include icons/package.svg %}</div>
  </div>
  <div class="media-object-section main-section">
    <div class="main-section">
      <h4>Remise de l’étude</h4>
      <p>En plus du livrable, une formation peut vous être proposée.</p>
    </div>
  </div>
</div>

