---
title: Pourquoi nous choisir ?
subtitle: Notre spécificité.
button: Faites appel à nous
number: 3
slug: why
---
<div class="media-object centrable">
  <div class="media-object-section">
    <div class="icons">{% include icons/validated.svg %}</div>
  </div>
  <div class="media-object-section main-section">
    <h4>Junior-Entreprise</h4>
    <p>Marque délivrée par la Confédération Nationale des Junior-Entreprises, elle certifie la qualité de notre travail.</p>
  </div>
</div>
<div class="media-object centrable">
  <div class="media-object-section">
    <div class="icons">{% include icons/student.svg %}</div>
  </div>
  <div class="media-object-section main-section">
    <h4>Objectif pédagogique</h4>
    <p>Plus de 200 étudiants passionnés et motivés peuvent être sollicités.</p>
  </div>
</div>
<div class="media-object centrable">
  <div class="media-object-section">
    <div class="icons">{% include icons/goal.svg %}</div>
  </div>
  <div class="media-object-section main-section">
    <h4>Encadrement personnalisé</h4>
    <p>Un chargé d’affaires est personnellement attitré pour vous accompagner tout au long de l’étude.</p>
  </div>
</div>
<div class="media-object centrable">
  <div class="media-object-section">
    <div class="icons">{% include icons/winner.svg %}</div>
  </div>
  <div class="media-object-section main-section">
    <h4>Travail de qualité</h4>
    <p>Votre projet est appuyé par des enseignants chercheurs compétents de Télécom Saint-Étienne.</p>
  </div>
</div>
