<footer role="contentinfo">
  <div class="content">
    <div class="info">
      <a href="{{ '/' | relative_url }}">
        <div class="logo-back">
          <img class="logo" src="{{ '/assets/images/Inspire_Logotype.svg' | relative_url }}" alt="Logo d'Inspire" />
        </div>
      </a>
      <h6 class="show-for-sr">Inspire</h6>
      <p>Junior-Entreprise de Télécom Saint-Étienne</p>
    </div>
    <div class="info">
      <h6>À propos</h6>
      <ul class="no-bullet">
        <li><a href="{{ '/mentions-legales' | relative_url }}">Mentions légales</a></li>
        <li><a href="{{ '/presse-assets' | relative_url }}">Presse et assets</a></li>
      </ul>
    </div>
    <div class="info">
      <h6>Nous contacter</h6>
      <ul class="no-bullet">
        <li><a href="{{ '/contact' | relative_url }}">Formulaire de contact</a></li>
      </ul>
      <p>
        <strong>Inspire</strong><br>
        25 Rue du Docteur Rémy Annino<br>
        42000 Saint-Étienne<br />
        <abbr title="Téléphone">Tél :</abbr> <a href="tel:+33477915875">+33 (0) 4 77 91 58 75</a><br>
      </p>
    </div>
    <div class="info">
      <h6>Nous suivre</h6>
      <div class="row">
          <div class="network"><a href="https://www.facebook.com/Inspire.Telecom/" rel="nofollow" target="_blank">{% include icons/facebook.svg %}</a></div>
          <div class="network"><a href="https://twitter.com/Inspire_Telecom" rel="nofollow" target="_blank">{% include icons/twitter.svg %}</a></div>
          <div class="network"><a href="https://www.linkedin.com/company/inspire-telecom/" rel="nofollow" target="_blank">{% include icons/linkedin.svg %}</a></div>
          <div class="network"><a href="https://www.viadeo.com/fr/company/inspire" rel="nofollow" target="_blank">{% include icons/viadeo.svg %}</a></div>
      </div>
    </div>
  </div>
  <div class="license">
    <small>© 2008-{{ site.time | date: "%Y" }} {{ site.name }} — Tous droits réservés.</small>
  </div>
</footer>
