<header role="banner">
  <div class="content">
    <div class="heading">
      <h1>Inspire</h1>
      <p class="lead">Un projet&#160;? Nous sommes prêts.</p>
      <p class="light">Junior-Entreprise de Télécom Saint-Étienne</p>
    </div>
    <video autoplay poster="{{ '/assets/videos/Working-Space.jpg' | relative_url }}" id="bgvid" loop>
      <source src="{{ '/assets/videos/Working-Space.webm' | relative_url }}" type="video/webm">
      <source src="{{ '/assets/videos/Working-Space.mp4' | relative_url }}" type="video/mp4">
      <source src="{{ '/assets/videos/Working-Space.ogv' | relative_url }}" type="video/ogg">
    </video>
  </div>
</header>
